/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .wai-acf-select {
    border-style: solid;
	border-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	width: 83.5% !important;
	max-width: 100% !important;
 }